
      <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="logo">
                <i data-lucide="headset" style="width:32px;height:32px;"></i>
                Soporte TI
            </div>

            <a href="http://localhost/Tickets/" class="nav-item"><i data-lucide="layout-dashboard"></i> Dashboard</a>
            <a href="http://localhost/Tickets/views/admin/tickets.php" class="nav-item"><i data-lucide="ticket"></i> Todos los tickets</a>
            <a href="http://localhost/Tickets/views/admin/users.php" class="nav-item"><i data-lucide="users"></i> Usuarios</a>
            <a href="http://localhost/Tickets/views/admin/reports.php" class="nav-item"><i data-lucide="bar-chart-3"></i> Reportes</a>
            <a href="https://app.sortly.com/items" class="nav-item" target="_blank" rel="noopener"><i data-lucide="pc-case"></i> Inventario</a>
         
            <a href="http://localhost/Tickets/views/admin/configuration.php" class="nav-item"><i data-lucide="settings"></i> Configuración</a>

            <hr style="margin:3rem 0;border-color:#afafaf;">
            <a href="http://localhost/Tickets/controller/logout.php" class="nav-item"><i data-lucide="log-out"></i> Cerrar sesión</a>
        </div>